<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>s3script</display-name>
	<context-param>
		<param-name>s3scriptpath</param-name>
		<param-value>D:\GitHubRepository\s3script\WebContent\</param-value>
	</context-param>
	<servlet>
		<description>
		</description>
		<display-name>S3ScriptServlet</display-name>
		<servlet-name>S3ScriptServlet</servlet-name>
		<servlet-class>org.s3script.web.S3ScriptServlet</servlet-class>
		<load-on-startup>1</load-on-startup>  
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>S3DHtmlServlet</display-name>
		<servlet-name>S3DHtmlServlet</servlet-name>
		<servlet-class>org.s3script.web.S3DHtmlServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>S3ScriptDevelopServlet</display-name>
		<servlet-name>S3ScriptDevelopServlet</servlet-name>
		<servlet-class>org.s3script.web.S3ScriptDevelopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>S3ScriptServlet</servlet-name>
		<url-pattern>*.s3js</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>S3DHtmlServlet</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>S3DHtmlServlet</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>S3ScriptDevelopServlet</servlet-name>
		<url-pattern>/S3ScriptDevelopServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
